.site-header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  background: #08a5d4;

  .title {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      text-shadow: #c41d7f 1px 0 10px;
    }
  }

  img {
    height: 45px;
    margin-top: 6px;
  }
}
