$pokemon-color: #ccc !default;

.pokemon-detais {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  //&--yellow {
  //  background-color: yellow;
  //}
  //
  //&--blue {
  //  background-color: blue;
  //}
  //
  //&--brown {
  //  background-color: brown;
  //}
  //
  //&--red {
  //  background-color: red;
  //}
  //
  //&--purple {
  //  background-color: purple;
  //}
  //
  //&--pink {
  //  background-color: pink;
  //}
  //
  //&--green {
  //  background-color: green;
  //}
  //
  //&--black {
  //  background-color: black;
  //}

  .wrapper {
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 5px 0 31px 25px #fff;
  }
}

.pokemon-detais__name {
  margin-bottom: 15px;
}

.pokemon-detais__title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.pokemon-detais__main {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    display: block;
  }
}

.pokemon-detais__avatar {
  text-align: center;
  width: 350px;
  height: 100%;
  border: 1px solid $pokemon-color;

  img {
    width: 350px;
    height: 100%;
    padding: 20px;

    @media (max-width: 768px) {
      width: 270px;
    }

    @media (max-width: 575px) {
      width: 200px;
    }
  }
}

.pokemon-detais__desc {
  display: inline-block;
  padding-left: 20px;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.pokemon-detais__text {
  margin-bottom: 15px;
  font-size: 16px;
  text-align: justify;
}

.pokemon-detais__specifications {
  justify-content: center;
  margin-bottom: 15px;
}

.pokemon-detais__specifications-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #ccc;

  @media (max-width: 767px) {
    flex: 0 0 0;
  }
}

.pokemon-detais__specifications-item {
  padding: 10px 15px;
}

.pokemon-detais__specifications-name {
  font-weight: 500;
  text-align: center;
  color: #1e5f8c;
}

.pokemon-detais__specifications-value {
  text-align: center;
  text-transform: uppercase;
}

.pokemon-detais__types {
  margin-bottom: 15px;

  @media (max-width: 992px) {
    display: inline-block;
    width: 50%;
  }

  @media (max-width: 575px) {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
  }
}

.pokemon-detais__abilities {
  @media (max-width: 992px) {
    display: inline-block;
    width: 50%;
  }

  @media (max-width: 575px) {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
  }
}

.pokemon-detais__evolution {
  margin-bottom: 15px;
}

.pokemon-detais__evolution-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 575px) {
    flex-direction: column;
  }
}

.pokemon-detais__evolution-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;

  @media (max-width: 575px) {
    padding-bottom: 35px;
  }

  &::after {
    content: '\f061';
    position: absolute;
    top: 7%;
    right: -18px;
    display: block;
    font-weight: 900;
    font-size: 50px;
    font-family: "Font Awesome 5 Free";
    color: #9e6581;

    @media (max-width: 767px) {
      top: 21%;
      right: -10px;
      font-size: 27px;
    }

    @media (max-width: 575px) {
      top: auto;
      right: 40%;
      bottom: 0;
      transform: rotate(90deg);
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  img {
    width: 96px;
    box-shadow: 1px 1px 6px 0 $pokemon-color;
    border-radius: 100%;
  }

  .pokemon-detais__evolution-link {
    text-transform: uppercase;
    padding-top: 5px;
  }
}

.pokemon-detais__stats {
  margin-bottom: 10px;
}
