html {
  height: 100%;
}

#root {
  height: 100%;
}

#main {
  height: 100%;
}

.main-decorator__wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
}

.main-decorator__content {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 320px) {
  .main-decorator__content {
    width: 300px;
  }
}

.site-preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: #fff;
  opacity: 1;
}

.site-preloader::before {
  content: '';
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  animation-name: site-preloader-animation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.site-preloader__fade {
  opacity: 0;
  transition: opacity 0.3s;
}

@keyframes site-preloader-animation {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

h3 {
  text-decoration: underline;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
