.site-footer {
  margin-top: 16px;
  background: #3c8dbc;
  border-top: 2px solid #ebebeb;

  .ant-layout-footer {
    padding: 24px 50px;
    font-size: 14px;
  }

  @media (max-width: 575px)  {
    span {
      display: block;
    }
  }
}
