.not-found-page {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 100vh;
  margin-top: -70px;
  background-size: cover;

  &__content {
    max-width: 670px;
    margin: 0 auto;
    padding: 15px;
    font-size: 30px;
    text-align: center;
  }
}
