.site-footer {
  .ant-layout-footer {
    padding: 24px 50px;
    font-size: 14px;
    color: #000;
    background: #e6f7ff;
  }

  @media (max-width: 575px) {
    span {
      display: block;
    }
  }
}
